<?xml version="1.0"?>
<launch>

  <arg name="quad_name" default="test"/>
  <arg name="subject_name" default="kristoffer_racer"/>
  <arg name="segment_name" default="something_else"/>
  

<node name="rqt_quad_gui" pkg="rqt_gui" type="rqt_gui" 
    args="-s rqt_quad_gui.basic_flight.BasicFlight --args 
    --quad_name $(arg quad_name)" output="screen"/>

<node name="vicon_forwarder" pkg="vicon_forwarder" type="vicon_fwd.py" output="screen" 
      args="$(arg subject_name) $(arg segment_name)"/>



</launch>
